@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.services-section {
  background: linear-gradient(90deg, #181818 50%, #111111 50%);
}
.service-card.active img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
